.greeks_container{
    background-color: black;
    display:flex;
    justify-content:space-evenly;
    width:93vw;
    height:85vh;
    margin:20px 43px;
    background-image:radial-gradient(circle at 50% 350%,rgba(212,72,237,0.5)65%,transparent 73.5%,rgb(240, 232, 232)73.5%,rgba(240,232,232)73.51%,rgba(212, 72, 237,0.5)73.8%,transparent 79.5%);
}

.Scholes{
    width: 42vw;
    height:63vh;
    border-radius: 20px;
    background-color: black;
    margin:30px 40px;
    
    background-image: radial-gradient(circle at 50% 0%,rgba(254, 252, 252,0.5)0%,transparent 50%),
                      radial-gradient(circle at 0% 30%,rgba(188, 37, 234,0.5)0%,transparent 55%),
                      radial-gradient(circle at 100% 40%,rgba(103, 27, 225,0.5)0%,transparent 50%);
}

.greek1{
    width:23vw;
    height:69vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.greeks{
    height:29vh;
    width: 20vw;
    border-radius: 14px;
    background-color: black;
    margin-top:10px;
    margin-bottom: 0;
    background-image: radial-gradient(circle at 50% 0%,rgba(249, 248, 248, 0.5)0%,transparent 50%),
    radial-gradient(circle at 0% 0%,rgba(188, 37, 234,0.7)0%,transparent 50%),
    radial-gradient(circle at 100% 40%,rgba(103, 27, 225,0.8)0%,transparent 50%);
}